* {
    margin: 0;
    padding: 0;
}

:root{
    --bool-body-backgc-top: #019689FF;
    --bool-body-backgc-bottom: #dbdad5;
    --bool-main-account: #ebeaeb;
    --bool-notification-backgc: #8edafcFF;
    --bool-notification-text: #17232a;
    --bool-notification-link: #5a7e8b;
    --bool-search: #7b808c;
    --bool-message-text: #c9d7e9;
}

/* Body */
body{ /* --> Da aggiungere il comando per la sfumatura */
    background-color: var(--bool-body-backgc-bottom);
}
/* /Body */

/* Main Container */
.container{
    max-width: 1545px;
    width: 80%;
    height: 800px;
    margin: 80px auto;
    background-color: blue;
    display: flex;

    box-sizing: border-box;
    border: 1px dashed;
}
/* /Main Container */


/* Container Left */
.left_sections{
    width: 400px;
    height: 800px;
    background-color: yellow;

    box-sizing: border-box;
    border: 1px dashed;
}

.account{
    width: 400px;
    height: 60px;
    background-color: var(--bool-main-account);

    box-sizing: border-box;
    border: 1px dashed;
}

.notifications{
    width: 400px;
    height: 80px;
    background-color: var(--bool-notification-backgc);

    box-sizing: border-box;
    border: 1px dashed;
}

.search{
    width: 400px;
    height: 40px;
    background-color: var(--bool-main-account);

    box-sizing: border-box;
    border: 1px dashed;
}

.contacts{
    width: 400px;
    height: 620px;
    background-color: white;

    box-sizing: border-box;
    border: 1px dashed;
}
/* /Container Left */


/* /Container Right */
.right_sections{
    width: 1145px;
    height: 800px;
    background-color: gold;

    box-sizing: border-box;
    border: 1px dashed;
}

.contact_name{
    width: 100%;
    height: 60px;
    background-color: var(--bool-main-account);

    box-sizing: border-box;
    border: 1px dashed;
}

.messages{
    width: 100%;
    height: 650px;
    background-color: green;

    box-sizing: border-box;
    border: 1px dashed;
}

.message_box{
    width: 100%;
    height: 90px;
    background-color: magenta;

    box-sizing: border-box;
    border: 1px dashed;
}
/* /Container Right */

/* Meta for Desktop */
/* /Meta for Desktop */


/* Meta for Tablet */
@media screen and (max-width: 991px) {
    .account{
        width: 30%;
    }

    .notifications, .search, .contacts_text{
        display: none;
    }
    
    .left_sections{
        width: 200px;
        height: ;
    }
}
/* /Meta for Tabet */


/* Meta for Mobile */
@media screen and (max-width: 540px) {
    .left_sections{
        display: none;
    }

    .container{
        width: ;
    }
}
/* /Meta for Mobile */


