* {
    margin: 0;
    padding: 0;
}

:root {
    --bool-body-backgc-top: #019689FF;
    --bool-body-backgc-bottom: #dbdad5;
    --bool-main-account: #ebeaeb;
    --bool-notification-backgc: #8edafcFF;
    --bool-notification-text: #17232a;
    --bool-notification-link: #5a7e8b;
    --bool-search: #7b808c;
    --bool-message-text: #c9d7e9;
    --bool-sent-backgc: #d4f9bb;
    --bool-recived-backgc: #fffefe;
    --bool-action: #b0b0b1;
}

/* Body */
body {
    /* --> Da aggiungere il comando per la sfumatura */
    background-image: linear-gradient(to bottom, #019689FF 0%, #019689FF 120px, #dbdad5 120px, #dbdad5 100%);
}

/* /Body */

/* Main Container */
.container {
    max-width: 1200px;
    width: 80%;
    height: 800px;
    margin: 80px auto;
    display: flex;
}

/* /Main Container */


/* Container Left */
.left_sections {
    width: 350px;
}

.account {
    background-color: var(--bool-main-account);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions {
    display: flex;
    gap: 1rem;
    padding-right: 1rem;
    color: var(--bool-action);
}

.profile_img,
.profile_img1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 1rem;
}

.notifications {
    padding: 1rem;
    background-color: var(--bool-notification-backgc);
    align-items: center;
    display: flex;
    padding: 2rem;
    gap: 1rem;
}

.bell {
    background-color: white;
    color: var(--bool-notification-backgc);
    border-radius: 50%;
}

.notification_text {
    display: flex;
    flex-direction: column;
}

.search {
    padding: 1rem;
    background-color: var(--bool-main-account);
}

.search_box {
    display: flex;
    gap: 1rem;
    align-items: center;
    background-color: var(--bool-recived-backgc);
    padding: 0.5rem;
    color: var(--bool-action);
}

#search {
    height: 20px;
    width: 95%;
}

.name {
    display: flex;
    justify-content: space-between;
}

.contacts {
    background-color: white;
    display: flex;
    align-items: center;
}

.meta {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.img_text {
    display: flex;
    flex-direction: column;
}

.contacts_text,
.hour {
    color: var(--bool-message-text);
}

/* /Container Left */


/* /Container Right */
.contact_name {
    background-color: var(--bool-main-account);
    width: 650px;
    display: flex;
    align-items: center;
    border-left: 1px solid gray;
}

.utility{
    display: flex;
    align-items: center;
    gap: 20rem;
}

#access {
    color: var(--bool-search);
}

.utilitys {
    color: var(--bool-action);
    align-items: center;
}

.messages {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 500px;
    padding: 2rem;
    gap: 1rem;
}

.background {
    width: 650px;
    height: 600px;
    display: flex;
}

.sent,
.recived {
    width: 350px;
    border-radius: 10px;
    padding: 1rem;
}

.sent {
    align-self: flex-end;
    background-color: var(--bool-sent-backgc);
}

.recived {
    align-self: flex-start;
    background-color: var(--bool-recived-backgc);
}

.message_box {}

/* /Container Right */

/* Meta for Desktop */
/* /Meta for Desktop */


/* Meta for Tablet */
@media screen and (max-width: 991px) {
    .account {}

    .notifications,
    .search,
    .img_text,
    .actions {
        display: none;
    }

    .left_sections {
        width: 100px;
    }
}

/* /Meta for Tabet */


/* Meta for Mobile */
@media screen and (max-width: 540px) {
    .left_sections {
        display: none;
    }

    .utilitys {
        display: none;
    }

}

/* /Meta for Mobile */